# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyc

# Environment variables
.env
.env.*

# Virtual environment
venv/
ENV/
env/
.Python

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Logs
logs/
*.log

# Database
*.sqlite3

# Alembic
alembic/versions/*.pyc

# Docker
docker-compose.override.yml
*.log

# Pytest cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Backup files
*.bak
*.swp
*.swo
*~